<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>V-Bind</title>
    <style>
        h2 {
        border-style: solid;
        border-width: 2px;
        border-color: rgb(4, 157, 255);
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th {
            background-color: rgb(255,249,218);
        }
        
        table, th, td {
            border: 1px solid black;
            text-align: left;
        }
    </style>
</head>
<body>
    <div id="app">
        <h1>Exemplo de Manipulação de Array e Objetos em JavaScript</h1>
        <fieldset>
            <legend>Manutenção de Funcionários</legend><br>
            Por favor, preencha os dados abaixo:<br><br>
            CPF: <input type="text" v-model="funcionario.cpf" autofocus  maxlength="11">
            Nome: <input type="text" v-model="funcionario.nome">
            Cargo: <input type="text" v-model="funcionario.cargo">
            Salário: <input type="text" v-model="funcionario.salario">
            <input type="button" value="Adicionar" @click="inserir">
            <input type="button" value="Adicionar" @click="teste">
            
        </fieldset>
    </div><br>
    <h2 style="border-style: solid;">Lista de Funcionários</h2>
    <div>
        <input type="button" onclick="orderByCPF()" value="Ordenar por Cpf">
        <input type="button" onclick="orderByNome()" value="Ordenar por Nome">
        <input type="button" onclick="orderBySalario()" value="Ordenar por Salário (DESC)">
        Salario maior que:
        <input type="text" id="textFilter">
        <input type="button" onclick="filtrar()" value="Filtrar">
    <div><br>
    <table id="tabela">
        <tr>
            <th style="width:10%">Cpf</th>
            <th style="width:30%">Nome</th>
            <th style="width:25%">Cargo</th>
            <th style="width:25%">Salário</th>
            <th style="width:10%"></th>
        </tr>
        <tr v-for="(func, index) in funcList">
            <td v-model="func.cpf"></td>
            <td v-model="func.nome"></td>
            <td v-model="func.cargo"></td>
            <td v-model="func.salario"></td>
            <td>
                <!-- TODO -->
                <button ></button>
            </td>
        </tr>
    </table>

    <script src="framework/vue.js"></script>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                funcList: [],
                funcionario: {
                    cpf: "",
                    nome: "",
                    cargo: "",
                    salario: ""
                }
            },
            methods: {
                inserir: function() {
                    if(!this.jaExiste()) {
                        this.funcList.push({cpf: this.funcionario.cpf,
                                        nome: this.funcionario.nome,
                                        cargo: this.funcionario.cargo,
                                        salario: this.funcionario.salario})
                    }
                },
                remover: function() {

                },
                jaExiste: function() {
                    for(i = 0; i < this.funcList.length ; i++){
                        if(this.funcionario.cpf == this.funcList[i].cpf) {
                            alert("Funcionário já existe");
                            return true;
                        }
                    }
                    return false;
                },
                teste: function() {
                    alert("hello world")
                }
            }
        });
    </script>
</body>
</html>